/*
/////////////////////////////////////////////////////////////////////
ESTILOS RESET
////////////////////////////////////////////////////////////////////
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
}
ul li {
    font-size: 20px;
    display: inline-block;
}
a {
    font-style: none;
    text-decoration: none;
}

#body {
    max-width: 1440px;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 20px;
}



/*
/////////////////////////////////////////////////////////////////////
ESTILOS DEL HEADER
/////////////////////////////////////////////////////////////////////
*/
#navbarNavDropdown a:hover {
    color: gray !important;
}

/*
/////////////////////////////////////////////////////////////////////
ESTILOS DEL MAIN/NAVBAR
/////////////////////////////////////////////////////////////////////
*/



main section article h1 {
    font-size: 15px;
    display: block;
}

main section article h2 {
    font-size: 10px;
}

#main {
    display: inline-block;
    width: 100%; 
    height: auto;
}




/*
////////////////////////////////////////////////////////////////////
ESTILOS DEL MAIN/INDEX
////////////////////////////////////////////////////////////////////
*/

#carouselExampleInterval {
    margin-top: 1px;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

#tarjetasCol {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 60px;
}


.indexTop {
    width: 600px;
    height: auto;
}



.card-img-top {
    margin: auto;
    background-attachment: contain;
    background-size: cover;
    /* display: flex; */
}


/*
////////////////////////////////////////////////////////////////////
ESTILOS DEL MAIN/PRODUCTO
////////////////////////////////////////////////////////////////////
*/

#divh1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1Pijama {
    font-size: 30px;
    gap: 10px;
    margin-top: 10px;
}

.h2Pijama {
    font-size: 25px;
    gap: 10px;
    margin-bottom: 20px;
}

.pijama {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pijamas {
    margin-top: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "sectionProductosTea sectionProductosCooffe sectionProductosAstro"
    "sectionProductosCebra sectionProductosJungla sectionProductosBe"
    ;
}

.sectionProductosTea {
    width: 410px;
    height: 410px;
    grid-area: sectionProductosTea;
}

.sectionProductosCooffe {
    width: 410px;
    height: 410px;
    grid-area: sectionProductosCooffe;
}

.sectionProductosAstro {
    width: 410px;
    height: 410px;
    grid-area: sectionProductosAstro;
}

.sectionProductosCebra {
    width: 410px;
    height: 410px;
    grid-area: sectionProductosCebra;
}

.sectionProductosJungla {
    width: 410px;
    height: 410px;
    grid-area: sectionProductosJungla;
}

.sectionProductosBe {
    width: 410px;
    height: 410px;
    grid-area: sectionProductosBe;
}

/*
////////////////////////////////////////////////////////////////////
ESTILOS DE MI CUENTA
////////////////////////////////////////////////////////////////////
*/

.crear {
    font-size: 10px;
}



/*
////////////////////////////////////////////////////////////////////
ESTILOS DE MI CUENTA
////////////////////////////////////////////////////////////////////
*/

.row {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}


.btn-close {
    margin-top: 30px;
    margin-left: 50px;
}

.crear {
    font-size: 15px;
    display: flex;
    margin-left: 300px;
}

.col-12 {
    margin-top: 30px;
    display: flex;
}




/*
////////////////////////////////////////////////////////////////////
ESTILOS DEL FOOTER
////////////////////////////////////////////////////////////////////
*/

#footer {
    margin-top: auto;
    gap: 20px;
    width: 100%;
    height: 350px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "sectionPago sectionRedes"
    "sectionEnvio sectionRedes"
    ;
}




.footerRedes {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footerRedes h1 {
    font-size: 30px;
}

.textoFooter {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

}

.footerPago h1 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: 30px;
}
.footerPago img {
    margin-left: 30px;
    display: inline-block;
}



.footerEnvio h1 {
    margin-left: 30px;
    font-size: 30px;
}

.footerEnvio img {
    margin-left: 30px;
}

#sectionPago {
    margin-top: 20px;
    grid-area: sectionPago;
}

#sectionEnvio {
    margin-top: 10px;
    grid-area: sectionEnvio;
}

#sectionRedes{
    margin-top: 10px;
    grid-area: sectionRedes;
}

article.footerRedes {
    justify-content: right;
    align-items: center;

}

/*DISEÑO DE IMAGENES FOOTER*/

.footerPagoMaster {
    width: 60px;
    height: 50px;
}

.footerPagoVisa {
    width: 60px;
    height: 50px;
}

.footerPagoFacil {
    width: 50px;
    height: 50px;
}

.footerPagoMercado {
    width: 50px;
    height: 50px;
}

.footerEnvioCorreo {
    width: 50px;
    height: 50px;
}

.footerEnvioOca {
    width: 50px;
    height: 50px;
}

.footerRedesInsta {
    width: 40px;
    height: 40px;
    gap: 10px;
    margin-bottom: 13px;
}

.footerRedesFace {
    width: 40px;
    height: 40px;
    gap: 10px;
    margin-bottom: 13px;

}

.footerRedesWhats {
    width: 40px;
    height: 40px;
    gap: 10px;
    margin-bottom: 13px;
}

.footerRedesMaps {
    width: 40px;
    height: 40px;
    gap: 10px;
    margin-bottom: 13px;
}

.footerRedesGmail {
    width: 40px;
    height: 40px;
    gap: 10px;
    margin-bottom: 13px;
}


/*
////////////////////////////////////////////////////////////////////
BREAKPOINTS
////////////////////////////////////////////////////////////////////
*/


@media (max-width: 1300px) {
    #pijamas {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "sectionProductosTea sectionProductosCooffe"
        "sectionProductosAstro sectionProductosCebra"
        "sectionProductosJungla sectionProductosBe"
        
        ;
    }
}


@media (max-width: 600px) {
    #footer{
        height: 680px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "sectionPago"
        "sectionEnvio"
        "sectionRedes";
    }
    .textoFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 850px) {
    #pijamas {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "sectionProductosTea"
        "sectionProductosCooffe"
        "sectionProductosAstro"
        "sectionProductosCebra"
        "sectionProductosJungla"
        "sectionProductosBe"
        ;
    }
}

