* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  max-width: 1440px;
}

ul li {
  font-size: 20px;
  display: inline-block;
}

a {
  font-style: none;
  text-decoration: none;
}

#body {
  max-width: 1440px;
  width: 100%;
  height: auto;
  justify-content: center;
  gap: 20px;
}

/*
/////////////////////////////////////////////////////////////////////
ESTILOS DEL HEADER
/////////////////////////////////////////////////////////////////////
*/
#navbarNavDropdown a:hover {
  color: gray !important;
}

#main {
  display: inline-block;
  width: 100%;
  height: auto;
}
#main main section article h1 {
  font-size: 15px;
  display: block;
}
#main main section article h2 {
  font-size: 10px;
}
#main #carouselExampleInterval {
  margin-top: 1px;
}
#main #carouselExampleInterval .carousel-inner {
  width: 100%;
  height: auto;
}
#main #tarjetasCol {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 60px;
}
#main #tarjetasCol .indexTop {
  width: 600px;
  height: auto;
}
#main #tarjetasCol .indexTop .card-img-top {
  margin: auto;
  background-attachment: contain;
  background-size: cover;
  /* display: flex; */
}
#main #bikinis {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "sectionProductosDepor sectionProductosFlores sectionProductosNaranja" "sectionProductosRosa sectionProductosRallas sectionProductosDeporRosa";
}
#main #bikinis .bikini {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main #bikinis .bikini .sectionProductosDepor {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosDepor;
}
#main #bikinis .bikini .sectionProductosFlores {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosFlores;
}
#main #bikinis .bikini .sectionProductosNaranja {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosNaranja;
}
#main #bikinis .bikini .sectionProductosRosa {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosRosa;
}
#main #bikinis .bikini .sectionProductosRallas {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosRallas;
}
#main #bikinis .bikini .sectionProductosDeporRosa {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosRallas;
}
#main #bikinis .bikini #divh1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main #bikinis .bikini #divh1 .h1Bikini {
  font-size: 25px;
  gap: 10px;
  margin-top: 8px;
}
#main #bikinis .bikini #divh1 .h2Bikini {
  font-size: 20px;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
}
#main #pantuflas {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "sectionProductosBoca sectionProductosMargaritas sectionProductosRiver" "sectionProductosWinne sectionProductosHipo sectionProductosHongo";
}
#main #pantuflas .pantus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main #pantuflas .pantus .sectionProductosBoca {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosBoca;
}
#main #pantuflas .pantus .sectionProductosMargaritas {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosMargaritas;
}
#main #pantuflas .pantus .sectionProductosRiver {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosRiver;
}
#main #pantuflas .pantus .sectionProductosWinne {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosWinne;
}
#main #pantuflas .pantus .sectionProductosHipo {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosHipo;
}
#main #pantuflas .pantus .sectionProductosHongo {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosHongo;
}
#main #pantuflas .pantus #divh1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main #pantuflas .pantus #divh1 .h1Pantus {
  font-size: 25px;
  gap: 10px;
  margin-top: 8px;
}
#main #pantuflas .pantus #divh1 .h2Pantus {
  font-size: 20px;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
}
#main #pijamas {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "sectionProductosTea sectionProductosCooffe sectionProductosAstro" "sectionProductosCebra sectionProductosJungla sectionProductosBe";
}
#main #pijamas .pijama {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main #pijamas .pijama .sectionProductosTea {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosTea;
}
#main #pijamas .pijama .sectionProductosCooffe {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosCooffe;
}
#main #pijamas .pijama .sectionProductosAstro {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosAstro;
}
#main #pijamas .pijama .sectionProductosCebra {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosCebra;
}
#main #pijamas .pijama .sectionProductosJungla {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosJungla;
}
#main #pijamas .pijama .sectionProductosBe {
  width: 410px;
  height: 410px;
  grid-area: sectionProductosBe;
}
#main #pijamas .pijama #divh1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main #pijamas .pijama #divh1 .h1Pijama {
  font-size: 25px;
  gap: 10px;
  margin-top: 8px;
}
#main #pijamas .pijama #divh1 .h2Pijama {
  font-size: 20px;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
}
#main .mainFieldsetUl {
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 70px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}
#main .mainFieldsetUl .col-md-4 {
  margin-top: 60px;
}
#main .mainFieldsetUl .btn-primary {
  margin-top: 55px;
}
#main .mainFieldsetUl #validationServer01 {
  width: 100%;
}
#main .mainFieldsetUl #validationServer02 {
  width: 100%;
}
#main .mainFieldsetUl .crear {
  font-size: 15px;
  display: flex;
  margin-left: 350px;
  margin-bottom: 80px;
}
#main .row {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
#main .row .btn-close {
  margin-top: 30px;
  margin-left: 50px;
}
#main .row .col-12 {
  margin-top: 30px;
  display: flex;
}
#main .h1Contacto {
  margin-left: 30px;
  margin-top: 45px;
  margin-bottom: 80px;
}
#main .listaContacto {
  margin-bottom: 70px;
  margin-right: 20px;
}
#main .boton {
  margin-bottom: 100px;
}

/*
/////////////////////////////////////////////////////////////////////
ESTILOS DEL MAIN/CARRITO DE COMPRAS
/////////////////////////////////////////////////////////////////////
*/
#mainCarrito {
  height: auto;
  width: 100%;
  margin-bottom: 50px;
}
#mainCarrito .img-fluid {
  width: 150px;
  height: auto;
}
#mainCarrito .back-to-shop {
  margin-top: 40px;
  margin-bottom: 30px;
}
#mainCarrito .btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 2vh;
  padding: 1vh;
  border-radius: 0;
}
#mainCarrito .btn .btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  transition: none;
}
#mainCarrito .btn .btn:hover {
  color: white;
}

#footer {
  margin-top: auto;
  bottom: 0;
  gap: 20px;
  width: 100%;
  height: 350px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "sectionPago sectionRedes" "sectionEnvio sectionRedes";
}
#footer #sectionRedes {
  margin-top: 10px;
  grid-area: sectionRedes;
}
#footer #sectionRedes .footerRedes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer #sectionRedes .footerRedes h1 {
  font-size: 30px;
}
#footer #sectionRedes article.footerRedes {
  justify-content: right;
  align-items: center;
}
#footer #sectionRedes .footerRedesInsta, #footer #sectionRedes .footerRedesGmail, #footer #sectionRedes .footerRedesMaps, #footer #sectionRedes .footerRedesWhats, #footer #sectionRedes .footerRedesFace {
  width: 40px;
  height: 40px;
  gap: 10px;
  margin-bottom: 13px;
}
#footer .textoFooter {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
#footer #sectionPago {
  margin-top: 20px;
  grid-area: sectionPago;
}
#footer #sectionPago .footerPago .footerPago h1 {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-size: 30px;
}
#footer #sectionPago .footerPago .footerPago img {
  margin-left: 30px;
  display: inline-block;
}
#footer #sectionPago .footerPagoMaster, #footer #sectionPago .footerPagoVisa {
  width: 60px;
  height: 50px;
}
#footer #sectionPago .footerPagoFacil, #footer #sectionPago .footerPagoMercado {
  width: 50px;
  height: 50px;
}
#footer #sectionEnvio {
  margin-top: 10px;
  grid-area: sectionEnvio;
}
#footer #sectionEnvio .footerEnvio .footerEnvio h1 {
  margin-left: 30px;
  font-size: 30px;
}
#footer #sectionEnvio .footerEnvio .footerEnvio img {
  margin-left: 30px;
}
#footer .footerEnvioCorreo, #footer .footerEnvioOca {
  width: 50px;
  height: 50px;
}
@media (max-width: 1300px) {
  #pijamas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "sectionProductosTea sectionProductosCooffe" "sectionProductosAstro sectionProductosCebra" "sectionProductosJungla sectionProductosBe";
  }
  #pantuflas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "sectionProductosBoca sectionProductosMargaritas" "sectionProductosRiver sectionProductosWinne" "sectionProductosHipo sectionProductosHongo";
  }
  #bikinis {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "sectionProductosDepor sectionProductosFlores" "sectionProductosNaranja sectionProductosRosa" "sectionProductosRallas sectionProductosDeporRosa";
  }
}
@media (max-width: 600px) {
  #footer {
    height: 680px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "sectionPago" "sectionEnvio" "sectionRedes";
  }
  .textoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .crear {
    font-size: 15px;
    display: flex;
    margin-left: 300px;
    margin-bottom: 80px;
  }
}
@media (max-width: 850px) {
  #pijamas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "sectionProductosTea" "sectionProductosCooffe" "sectionProductosAstro" "sectionProductosCebra" "sectionProductosJungla" "sectionProductosBe";
  }
  #pantuflas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "sectionProductosBoca" "sectionProductosMargaritas" "sectionProductosRiver" "sectionProductosWinne" "sectionProductosHipo" "sectionProductosHongo";
  }
  #bikinis {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "sectionProductosDepor" "sectionProductosFlores" "sectionProductosNaranja" "sectionProductosRosa" "sectionProductosRallas" "sectionProductosDeporRosa";
  }
}
@media (max-width: 500px) {
  #pijamas .pijama .img {
    width: 300px;
    height: 300px;
  }
  #pijamas .pijama .h1Pijama {
    font-size: 20px;
  }
  #pijamas .pijama .h2Pijama {
    font-size: 10px;
  }
  #pantuflas .pantus .img {
    width: 300px;
    height: 300px;
  }
  #pantuflas .pantus .h1Pantus {
    font-size: 20px;
  }
  #pantuflas .pantus .h2Pantus {
    font-size: 10px;
  }
  #bikinis .bikini .img {
    width: 300px;
    height: 300px;
  }
  #bikinis .bikini .h1Bikini {
    font-size: 20px;
  }
  #bikinis .bikini .h2Bikini {
    font-size: 10px;
  }
  .crear {
    font-size: 15px;
    display: flex;
    margin-left: 200px;
    margin-bottom: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
